/* ======================================= 1000px ================================================= */

@media screen and (max-width: 1000px) {
/* header articles */
    .main-header {
        max-width: 100%;
    } 

    .main-article {
        width: 45%;
    }

    .main-article .header-article .title {
        font-size: 37px;
        font-weight: 700;
    }

    .small-article .header-article .title {
        font-size: 18px;
    }

/* latest news */
    .larticles-container {
        display: flex;
        justify-content: flex-start;
    }

    .latest-news {
        width: 100%;
    }

    .latest-article {
        width: 33%;
        padding: 5px;
    }


/* latest funding */

    .latest-funding {
        width: 100%;
        justify-content: space-between;
    }
    
    .latest-funding .none {
        display: none;
    }

    .latest-fund-card {
        min-width: 30%;
    }

    .latest-funding header {
        flex-direction: column;
    }

    .latest-funding-list {
        display: flex;
        justify-content: flex-start;
    }

    /* stuff */
    .stuff {
        width: 100%;
    }

    .card-stuff {
        width: 50%;
        padding: 10px;
    }

    /* latest deals */
    .latest-deals {
        width: 100%;
        margin: 0;
        display: flex;
    }

    .ldeals-list {
        flex-shrink: 2;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .ldeals-list .ldeal {
        width: 33%;
        padding: 10px;
        margin: 0;
    }

    .ldeals-list .a-bg {
        padding-top: 60%;
    }

}