/* ======================================= 1024px ================================================= */
@media screen and (max-width: 1024px) {
/* header articles */
    .main-header {
        max-width: 100%;
    } 

    .main-article {
        width: 45%;
    }

    .main-article .header-article .title {
        font-size: 37px;
        font-weight: 700;
    }

    .small-article .header-article .title {
        font-size: 18px;
    }

/* latest news */
    .larticles-container {
        display: flex;
        justify-content: flex-start;
    }

    .latest-news {
        width: 100%;
    }

    .latest-article {
        width: 33%;
        padding: 5px;
    }

/* latest funding */

    .latest-funding {
        width: 100%;
        justify-content: space-between;
    }
    
    .latest-funding .none {
        display: none;
    }

    .latest-fund-card {
        min-width: 30%;
    }

    .latest-funding header {
        flex-direction: column;
    }

    .latest-funding-list {
        display: flex;
        justify-content: flex-start;
    }

    /* stuff */
    .stuff {
        width: 100%;
    }

    .card-stuff {
        width: 50%;
        padding: 10px;
    }

    /* latest deals */
    .latest-deals {
        width: 100%;
        margin: 0;
        display: flex;
    }

    .ldeals-list {
        flex-shrink: 2;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .ldeals-list .ldeal {
        width: 33%;
        padding: 10px;
        margin: 0;
    }

    .ldeals-list .a-bg {
        padding-top: 60%;
    }

}

/* ======================================== 762px ================================================== */
@media screen and (max-width: 762px) {
    .nav-item {
        display: none;
    }

    .none {
        display: block;
    }

    .bottom-nav .logo {
        width: 15%;
        background: linear-gradient(135deg, #cd0090, #f83d29);
        padding: 10px;
    }

    .menu-btn {
        padding: 13px 13px 13px 18px;
        border-left: solid 1px #e9e7e7;
        display: inline-block;
        color: #f83d29;
    }

    /* main header */
    .main-header {
        flex-direction: column;
        width: 100%;
    }

    .main-header .main-article {
        height: 200px;
        width: 100%;
        margin: 0 0 10px 0;
    }

    .main-article .logo {
        display: none;
    }

    .main-article .date {
        display: none;
    }

    .main-article .header-article .title {
        font-size: 20px;
    }

    .main-article .gradient {
        background: rgba(0, 0, 0, .3);
    }

    .main-header .small-articles {
        width: 100%;
    }

    .main-header .small-article {
        width: 100%;
        height: 200px;
        padding: 0;
    }

    .small-article .header-article .title {
        font-size: 20px;
    }

    .small-article .gradient {
        background: rgba(0, 0, 0, .3);
        height: 100%;
        padding: 15px;
        display: flex;
        align-items: flex-end;

    }

    /* latest news */

    .larticles-container .latest-article {
        width: 100%;
        height: 75px;
    }

    .latest-article .lnews-background {
        display: block;
        overflow: hidden;
        width: 15%;
        height: 75px;
    }

    .latest-article .lnews-background img {
        object-fit: cover;
        height: 75px;     
        width: 75px;   
        padding-bottom: 10px;
    }

    .latest-article .title {
        width: 85%;
    }

    .latest-article .title a {
        font-size: 14px;
    }

    .latest-article .footer-lnews-list {
        width: 85%;
    }
    
    .latest-article .footer-lnews-list a {
        font-size: 10px;
        background: red;
    }

    

}